@charset "UTF-8";

footer {
	margin-top: auto;
	background-color: #4a8dc8;
	color: #fff;
	padding: 20px 0;
/*	position: absolute;*/
/*	width: 100%;*/
/*	bottom: 0;*/
	font-size: 0.8em;
	line-height: 1.6;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.footer-links a {
	color: #fff;
	transition: color 0.3s ease;
}

.footer-links a:hover {
	color: black;
}

.generation-time {
	text-align: center;
}