@charset "UTF-8";



body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

h1 {
    color: #343a40;
}

.list-group-item {
    margin-top: 10px;
}

.btn {
    margin-right: 5px;
}

.text-center {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 1rem !important;
}

.pagination a {
	margin: 0 10px;
	text-decoration: none;
	color: #005cb9;
	transition: color 0.3s ease;
}

.pagination a:hover {
	color: #007bff;
}

